* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Asap', sans-serif;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Asap', sans-serif;
  background: #ffffff;
  color: #000000;
}

html body .container {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

html body .container__small.container {
  padding-left: 20px;
  padding-right: 20px;
}

html body .container__big.contaienr {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 100%;
  width: 100%;
}

body.open-menu {
  overflow: hidden;
}

/*color*/

body p,
.main__text {
  font-size: 1.25em;
  margin: 0 0 30px;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

body h1,
body h2 {
  font-size: 2em;
}

body h3 {
  font-size: 2em;
}

body h1,
body h2,
body h3 {
  margin: 0;
}

body strong,
body b {
  font-weight: 700;
}

body .row:before,
body .row:after {
  display: inline-block !important;
}

body .row {
  margin-left: -16px;
  margin-right: -16px;
}

body .row .col-xs-12,
body .row .col-xs-6 {
  padding-left: 16px;
  padding-right: 16px;
}

body .row__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .row__flex .col-xs-12,
body .row__flex .col-xs-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body a {
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

.link__red {
  text-decoration: none;
  color: #FF003D;
}

.link__red:hover,
.link__red:focus,
.link__red:active {
  color: #FF003D;
  text-decoration: underline;
}

.btn__view {
  color: #FF003D;
  background: #ffffff;
  display: inline-block;
  padding: 20px 40px;
  border: 0;
  font-size: 1.125em;
  border-radius: 100px;
  -webkit-box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  border: 2px solid rgba(254, 12, 61, 0.08);
}

.btn__view:hover,
.btn__view:focus,
.btn__view:active {
  color: #FF003D;
  border: 2px solid #FF003D;
}

body .padding_b {
  padding-bottom: 80px;
}

body .padding_b_200 {
  padding-bottom: 60px;
}

body .padding_t {
  padding-top: 80px;
}

body .padding_t_80 {
  padding-top: 40px;
}

body .margin_b {
  margin-bottom: 80px;
}

body .margin_b_32 {
  margin-bottom: 20px;
}

/*header*/

body header {
  position: absolute;
  padding: 42px 0;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 99;
}

body header .container.container__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: static;
  width: 100%;
}

body header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

body header .header__logo .logo {
  width: 132px;
  margin-right: 9px;
}

body header .header__logo .digital__agency {
  height: 13px;
  margin: 8px 0 0;
}

body header .wrap__burger {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
  height: 30px;
  width: 40px;
  cursor: pointer;
}

body header .wrap__burger:hover .burger .burger__inner,
body header .wrap__burger:hover .burger .burger__inner:before,
body header .wrap__burger:hover .burger .burger__inner:after,
body header .wrap__burger:focus .burger .burger__inner,
body header .wrap__burger:focus .burger .burger__inner:before,
body header .wrap__burger:focus .burger .burger__inner:after {
  background: #FF003D;
}

body header .wrap__burger:hover:before,
body header .wrap__burger:focus:before {
  opacity: 1;
}

body header .wrap__burger:before {
  display: block;
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgba(255, 0, 61, 0.12);
  opacity: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  top: -18px;
  left: -8px;
}

body header .burger {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 30px;
  padding: 0 5px;
}

body header .burger .burger__inner,
body header .burger .burger__inner:before,
body header .burger .burger__inner:after {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: #000000;
}

body header .burger__inner {
  -webkit-transition: background-color 0s linear .13s;
  -o-transition: background-color 0s linear .13s;
  transition: background-color 0s linear .13s;
}

body header .burger__inner:before {
  display: block;
  content: "";
  top: 8px;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body header .burger__inner:after {
  display: block;
  content: "";
  top: 16px;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body header.active .wrap__burger:before {
  opacity: 0;
}

body header.active .burger__inner {
  -webkit-transition-delay: .22s;
  -o-transition-delay: .22s;
  transition-delay: .22s;
  background-color: transparent !important;
}

body header.active .burger__inner:before {
  top: 0;
  -webkit-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -o-transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

body header.active .burger__inner:after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

body header .wrap__menu {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  position: fixed;
  background: #ffffff;
  top: 0;
  right: -330px;
  width: 320px;
  height: 100vh;
  z-index: 999;
  padding: 144px 32px 40px 20px;
  overflow-y: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

body header .wrap__menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

body header .wrap__menu::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

body header .wrap__menu::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

body header .wrap__menu.active {
  right: 0;
  -webkit-box-shadow: 2px 4px 32px rgba(254, 12, 61, 0.4);
  box-shadow: 2px 4px 32px rgba(254, 12, 61, 0.4);
}

body header .wrap__menu:before {
  display: block;
  position: absolute;
  background: #FF003D;
  border-radius: 1px;
  content: "";
  width: 19px;
  height: 24px;
  left: 20px;
  top: 40px;
}

body header .wrap__menu .menu {
  margin-bottom: 48px;
}

body header .wrap__menu .menu__item {
  margin: 0 0 28px;
  width: 100%;
}

body header .wrap__menu .menu__item:last-child {
  margin-bottom: 0;
}

body header .wrap__menu .menu__item__current .menu__link {
  color: #FF003D;
}

body header .wrap__menu .menu__link {
  display: block;
  padding: 0;
  font-size: 2em;
  font-weight: 600;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #000000;
  background: transparent;
}

body header .wrap__menu .menu__link:hover,
body header .wrap__menu .menu__link:focus {
  background: transparent;
  color: #FF003D;
}

body header .wrap__menu .submenu {
  margin-bottom: 48px;
}

body header .wrap__menu .submenu__item {
  margin: 0 0 16px;
  width: 100%;
}

body header .wrap__menu .submenu__item:last-child {
  margin-bottom: 0;
}

body header .wrap__menu .submenu__item__current .submenu__link {
  color: #FF003D;
}

body header .wrap__menu .submenu__link {
  display: block;
  padding: 0;
  font-size: 1.375em;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: rgba(0, 0, 0, 0.4);
  background: transparent;
}

body header .wrap__menu .submenu__link:hover,
body header .wrap__menu .submenu__link:focus {
  background: transparent;
  color: #FF003D;
}

body header .wrap__menu .social {
  margin-bottom: 80px;
}

body header .wrap__menu .social__link {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: rgba(0, 0, 0, 0.4);
  background: transparent;
  margin-bottom: 11px;
}

body header .wrap__menu .social__link:hover,
body header .wrap__menu .social__link:focus {
  background: transparent;
  color: #FF003D;
}

body header .wrap__menu .menu__info__country {
  font-size: 1.125em;
  margin: 0 0 16px;
  font-weight: 600;
}

body header .wrap__menu .menu__info__country img {
  margin-left: 14px;
}

body header .wrap__menu .menu__info__inner p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875em;
  line-height: 2;
  margin-bottom: 25px;
}

body header .wrap__menu .menu__info__inner p:last-child {
  margin: 0;
}

body header .wrap__menu .menu__info__inner p a {
  color: inherit;
  text-decoration: underline;
}

body header .wrap__menu .menu__info__inner p a:hover,
body header .wrap__menu .menu__info__inner p a:focus {
  color: #FF003D;
}

.blur {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

main {
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}

.open-menu .header__logo,
.open-menu main {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.open-menu .blur {
  display: block;
}

/*main*/

main {
  padding-bottom: 120px;
}

.block__title {
  padding-bottom: 80px;
}

.block__title__related {
  max-width: 816px;
}

.block__title__services {
  max-width: 785px;
  margin: 0 0 0 auto;
}

.block__title__modular {
  max-width: 890px;
  margin: 0 0 0 auto;
}

.block__title__small.block__title {
  padding-bottom: 40px;
}

/*banner__home*/

.banner__home {
  padding: 220px 0 38px;
  position: relative;
}

.banner__home:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background: url(../img/banner-home.svg) no-repeat top left;
  background-size: calc(100% + 50px);
}

.banner__home__title {
  font-size: 2.75em;
  margin: 0 0 32px;
  max-width: 80%;
}

.banner__home__info {
  margin: 80px 0 0;
  max-width: 860px;
  font-size: 1.125em;
  line-height: 1.8;
}

.banner__home__btn {
  -webkit-box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  border-radius: 100px;
  background: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 24px 7px 7px;
  border: 2px solid rgba(254, 12, 61, 0.08);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  max-width: 240px;
  width: 100%;
  margin-bottom: 80px;
}

.banner__home__btn:hover,
.banner__home__btn:focus {
  border: 2px solid #FF003D;
}

.banner__home__btn:hover .banner__home__btn__text,
.banner__home__btn:focus .banner__home__btn__text {
  color: #FF003D;
}

.banner__home__btn__inner {
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.banner__home__btn__inner svg {
  width: 21px;
  fill: #FF003D;
  height: 25px;
}

.banner__home__btn__text {
  font-size: 0.875em;
  font-weight: 500;
  color: #000000;
}

.banner__home__inner {
  width: 100%;
}

/*success*/

.agency .success:before {
  background: -webkit-gradient(linear, right top, left top, from(rgba(175, 175, 175, 0.95)), to(rgba(199, 2, 48, 0)));
  background: -o-linear-gradient(right, rgba(175, 175, 175, 0.95) 0%, rgba(199, 2, 48, 0) 100%);
  background: linear-gradient(-90deg, rgba(175, 175, 175, 0.95) 0%, rgba(199, 2, 48, 0) 100%);
}

.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.success__agency {
  padding: 40px 0;
}

.success .mobile__full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.success__inner {
  margin-top: 25px;
  width: 100%;
}

.success__inner__in {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 580px;
}

.success__inner img {
  max-height: 44px;
}

.success__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.success__item__tool:before {
  opacity: 0;
  pointer-events: none;
  display: none;
  position: absolute;
  bottom: calc(100% + 15px);
  left: 50%;
  border-radius: 4px;
  background: #000000;
  padding: 17px 20px;
  font-size: 0.875em;
  color: rgba(255, 255, 255, 0.64);
  width: 280px;
  content: attr(data-title);
  -webkit-transform: translate3d(-50%, 10px, 0);
  transform: translate3d(-50%, 10px, 0);
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.success__item__in img {
  margin-right: 10px;
}

.success__item__inner {
  max-width: 200px;
  font-size: 0.875em;
}

.success__item:hover:before,
.success__item:focus:before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.success #btn__down {
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: transparent;
  cursor: pointer;
  display: none;
}

.success #btn__down:hover,
.success #btn__down:focus {
  background: rgba(255, 0, 61, 0.12);
}

.success #btn__down img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  -webkit-animation: MoveUpDown 2s ease infinite;
  animation: MoveUpDown 2s ease infinite;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    top: calc(50% + 8px);
  }

  50% {
    top: calc(50% - 12px);
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    top: calc(50% + 8px);
  }

  50% {
    top: calc(50% - 12px);
  }
}

.work__item {
  display: block;
  margin-bottom: 20px;
  height: 452px;
  border-radius: 4px;
  position: relative;
  padding: 40px 30px;
  overflow: hidden;
}

.work__item.worm__item__2h {
  height: 452px;
  padding: 40px 30px;
}

.work__item.worm__item__2h .work__item__image {
  width: calc(100% - 30px);
  max-height: 370px;
}

.work__item.worm__item__2h .work__item__image img {
  max-height: 220px;
}

.work__item__description {
  display: none;
  max-width: 316px;
  min-width: 140px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1.4;
  position: relative;
  z-index: 1;
  margin-bottom: 15px;
}

.work__item__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100% - 40px);
  max-height: 220px;
  text-align: right;
}

.work__item__image img {
  max-width: 100%;
  max-height: 220px;
}

.work__item__image img.bottom__right__50 {
  display: block;
  margin: 0 auto;
}

.work__item .tal__img {
  position: absolute;
  width: 335px;
  height: 210px;
  right: 40px;
  top: 115px;
  display: none;
}

.work__item__title {
  font-weight: 600;
  font-size: 1.375em;
  color: rgba(255, 255, 255, 0.24);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
}

.work__item__title.item__size2 {
  font-size: 1.75em;
}

.work__item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work__item:hover,
.work__item:focus {
  -webkit-box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
}

.work__item:hover .leaf,
.work__item:focus .leaf {
  opacity: 1;
  display: block;
}

.work__item:hover .work__item__title,
.work__item:focus .work__item__title {
  color: white;
}

.work__item:hover .tal__img,
.work__item:focus .tal__img {
  display: none;
}

.work .leaf {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 48px;
  height: 48px;
  opacity: 0.24;
}

.work .wrap__btn {
  margin: 60px 0 56px 0;
  text-align: left;
}

/*services*/

.services {
  overflow: hidden;
}

.services__inner {
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px);
  overflow-x: auto;
}

.services__inner.services__inner__2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.services__inner.services__inner__2 .services__item {
  -webkit-box-shadow: 2px 4px 16px rgba(155, 81, 224, 0.2);
  box-shadow: 2px 4px 16px rgba(155, 81, 224, 0.2);
  color: #9B51E0;
}

.services__inner.services__inner__2 .services__item:hover,
.services__inner.services__inner__2 .services__item:focus {
  border: 2px solid #9B51E0;
}

.services__inner.services__inner__2 .services__item__title,
.services__inner.services__inner__2 .services__item__subtitle {
  color: #9B51E0;
}

.services__inner.services__inner__2 .services__inner__wrap {
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  width: 1975px;
}

.services__inner__wrap {
  width: 1410px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__inner__wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.services__inner__wrap::-webkit-scrollbar {
  height: 6px;
  background-color: #F5F5F5;
}

.services__inner__wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

.services__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.services__item {
  margin: 16px;
  width: 250px;
  height: 250px;
  border-radius: 4px;
  display: block;
  position: relative;
  -webkit-box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  color: #FF003D;
  border: 2px solid transparent;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.services__item:hover,
.services__item:focus {
  border: 2px solid #FF003D;
}

.services__item__inner {
  position: absolute;
  left: 32px;
  width: calc(100% - 64px);
  bottom: 32px;
}

.services__item__title {
  font-size: 1.75em;
  font-weight: 600;
  margin: 0 0 8px;
  color: #FF003D;
}

.services__item__subtitle {
  font-size: 1.125em;
  font-weight: normal;
  margin: 0;
  color: #FF003D;
}

.services__icon__heart,
.services__icon__like {
  position: absolute;
  top: 32px;
  height: 16px;
  left: 32px;
}

.services__icon__heart {
  width: 20px;
}

.services__icon__like {
  width: 16px;
}

/*modular*/

.modular img {
  width: 100%;
}

/*process*/

.process__inner {
  background-color: #000000;
  border-radius: 4px;
  padding: 460px 20px 84px;
  position: relative;
  background-image: url(../img/back3.svg);
  background-repeat: no-repeat;
  background-size: 640px;
  background-position: center 64%;
}

.process__inner:before {
  display: none;
  position: absolute;
  background: #FF003D;
  border-radius: 1px;
  content: "";
  width: 13px;
  height: 16px;
  right: 72px;
  top: 88px;
}

.process__title {
  color: white;
  max-width: 840px;
  margin: 0 auto 160px;
  text-align: center;
}

.process__wrap img {
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 260px;
  height: 260px;
}

.process__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.process__list li {
  position: relative;
  font-size: 1.25em;
  color: #ffffff;
  margin-bottom: 36px;
  text-align: center;
}

.process__list li:first-child {
  margin-left: 115px;
}

.process__list li:nth-child(2) {
  margin-left: 165px;
  margin-bottom: 43px;
}

.process__list li:nth-child(3) {
  margin-left: 195px;
}

.process__list li:nth-child(4) {
  margin-left: 207px;
}

.process__list li:nth-child(5) {
  margin-left: 205px;
  margin-bottom: 38px;
}

.process__list li:nth-child(6) {
  margin-left: 190px;
  margin-bottom: 33px;
}

.process__list li:nth-child(7) {
  margin-left: 165px;
  margin-bottom: 44px;
}

.process__list li:nth-child(8) {
  margin-left: 110px;
  margin-bottom: 30px;
}

.process__list li:nth-child(2n) {
  color: #FF003D;
}

.process__list li:before {
  display: none;
  content: "";
  width: 110px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#C70230), to(rgba(199, 2, 48, 0)));
  background: -o-linear-gradient(left, #C70230 0%, rgba(199, 2, 48, 0) 100%);
  background: linear-gradient(90deg, #C70230 0%, rgba(199, 2, 48, 0) 100%);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

/*related*/

.related .col-xs-12:last-child .related__item {
  margin-bottom: 0;
}

.related__item {
  height: 512px;
  position: relative;
  display: block;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  margin-bottom: 20px;
}

.related__item:hover,
.related__item:focus {
  -webkit-box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
  box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
}

.related__item:hover .related__item__btn,
.related__item:focus .related__item__btn {
  color: #ffffff;
  background: #FF003D;
}

.related__item:hover .related__item__image,
.related__item:focus .related__item__image {
  -webkit-filter: none;
  filter: none;
}

.related__item:hover .related__item__image:before,
.related__item:focus .related__item__image:before {
  opacity: 0;
}

.related__item:hover .related__item__title,
.related__item:focus .related__item__title {
  color: #ffffff;
}

.related__item__inner {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: 5;
}

.related__item__image {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.related__item__image:before {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  content: "";
  background: rgba(255, 255, 255, 0.8);
}

.related__item__title {
  font-size: 1.25em;
  font-weight: 600;
  color: #000000;
  margin: 0 0 22px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.related__item__btn {
  display: inline-block;
  line-height: 1;
  border-radius: 100px;
  border: 2px solid #FF003D;
  color: #FF003D;
  font-size: 1.25em;
  font-weight: 500;
  padding: 16px 10px;
  text-align: center;
  width: 160px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

/**/

/*footer*/

.footer__inner {
  padding-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-bottom: 12px;
}

.footer__copy__inner {
  margin: 0;
  position: relative;
  padding-right: 8px;
  line-height: 1;
  font-size: 1.125em;
}

.footer__copy__inner:before {
  display: block;
  position: absolute;
  right: 0;
  top: 55%;
  content: "";
  background: #FF003D;
  height: 5px;
  width: 4px;
}

.footer__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  margin-bottom: 12px;
}

.footer__terms a {
  color: rgba(0, 0, 0, 0.4);
}

.footer__terms a:hover,
.footer__terms a:focus {
  color: #FF003D;
}

.footer__menu.nav {
  display: none;
}

.footer__menu__item {
  margin: 0 30px 10px 0;
  font-weight: 500;
}

.footer__menu__item:first-child {
  margin-left: 0;
}

.footer__menu__link {
  font-size: 1.125em;
  padding: 0;
  color: #000000;
  font-weight: 500;
}

.footer__menu__link:hover,
.footer__menu__link:focus {
  color: #FF003D;
}

/*modal*/

body .modal .modal-dialog {
  width: 100%;
  max-width: 90%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  top: 50%;
  left: 50%;
  margin: 0;
}

body .modal .modal-dialog .modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

body .modal .modal-dialog iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .modal .modal-dialog .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  font-size: 0;
  top: -60px;
  right: 0;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .modal .modal-dialog .close:hover span,
body .modal .modal-dialog .close:hover span:before,
body .modal .modal-dialog .close:hover span:after,
body .modal .modal-dialog .close:focus span,
body .modal .modal-dialog .close:focus span:before,
body .modal .modal-dialog .close:focus span:after {
  background: #FF003D;
}

body .modal .modal-dialog .close span {
  height: 0 !important;
}

body .modal .modal-dialog .close span,
body .modal .modal-dialog .close span:before,
body .modal .modal-dialog .close span:after {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: #ffffff;
  content: "";
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body .modal .modal-dialog .close span {
  position: relative;
  display: inline-block;
  -webkit-transition: background-color 0s linear .13s;
  -o-transition: background-color 0s linear .13s;
  transition: background-color 0s linear .13s;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body .modal .modal-dialog .close span:before {
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body .modal .modal-dialog .close span:after {
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

body .modal-backdrop.show {
  opacity: 0.88;
}

/*work-page*/

.pages {
  padding-top: 203px;
}

.pages__agency .pages__title {
  max-width: 650px;
}

.pages__agency .pages__title__wrap {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.pages__title__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pages__title__wrap .pages__title {
  margin: 0 0 40px;
}

.pages__title__inner {
  max-width: 800px;
  margin: 0 0 80px 0;
}

.pages__title__inner p {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4;
  margin: 0 0 20px;
}

.pages__title__inner p:last-child {
  margin: 0;
}

.pages__mini__title {
  padding: 75px 0 80px;
}

.pages__mini__title strong {
  font-weight: 600;
}

.pages__mini__title__inner {
  max-width: 600px;
  font-size: 1.5em;
}

.work__page {
  margin-bottom: -32px;
}

.work__title {
  max-width: 760px;
  margin: 0 0 40px;
}

.work__filter {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.work__filter__wrap {
  overflow-x: auto;
  width: calc(100% + 20px);
  margin: 0 0 80px;
}

.work__filter li {
  margin: 0 20px 0 0;
}

.work__filter li .work__filter__current {
  border: 2px solid #FF003D;
  font-weight: 600;
}

.work__type .work__item__title {
  color: #ffffff;
}

.work__type__item:hover .work__item__title,
.work__type__item:focus .work__item__title {
  color: #000000;
}

.work__type__item .work__item__title {
  color: #000000;
}

.work__type__image {
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 260px;
  height: 260px;
}

.work__type__image img {
  max-width: 100%;
}

.work__single {
  margin-bottom: 89px;
}

.work__single__image {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-bottom: 5px;
}

.work__single__item {
  height: 350px;
  margin-bottom: 5px;
  width: calc(100% + 40px);
  margin-left: -20px;
}

.work__single__item.work__single__item2h {
  height: 700px;
}

.work__single__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.work__single__wrap__element {
  width: 100%;
}

.work__single .pages__title {
  margin-bottom: 40px;
}

.work__single .pages__title__inner__info {
  margin-top: 40px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.375;
  font-weight: 600;
}

.work__single .success__inner {
  padding: 0;
  margin: 0 0 44px;
}

.work__info {
  margin-bottom: 70px;
}

.work__info__title {
  margin: 0 0 80px;
  font-weight: 600;
}

.work__info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.work__info__item {
  width: 100%;
}

.work__info__item:last-child {
  margin-right: 0;
}

.work__info__item__title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.25em;
  line-height: 1.4;
  margin: 0 0 12px;
}

.work__info__subitem {
  margin-bottom: 35px;
}

.work__info__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work__info__list li {
  line-height: 1.4;
  font-size: 1.25em;
}

.work__info__list li a {
  color: inherit;
}

.work__info__list li a:hover,
.work__info__list li a:focus {
  color: #FF003D;
  text-decoration: underline;
}

.work__info.work__info__agency {
  padding-top: 100px;
}

.work__info.work__info__agency .work__info__item {
  width: 200px;
  margin-bottom: 40px;
}

.work__info.work__info__agency .work__info__item:last-child {
  margin-bottom: 0;
}

.work__info__content {
  font-weight: 500;
}

.work__info .link__red {
  display: block;
  font-size: 1.25em;
  font-weight: 500;
}

/*next__pro*/

.next__pro {
  height: 400px;
  background: url(../img/back2.svg) no-repeat bottom left/auto 250px, url(../img/back1.svg) no-repeat bottom right/auto 250px;
}

.next__pro__agency.next__pro {
  background: url(../img/b-agency2.svg) no-repeat bottom left/auto 250px, url(../img/b-agency1.svg) no-repeat bottom right/auto 250px;
}

/*protection*/

.protection p:last-child {
  margin-bottom: 0;
}

.protection p a {
  color: inherit;
}

.protection p a:hover,
.protection p a:focus {
  color: #FF003D;
  text-decoration: underline;
}

/*services__images*/

.services__images {
  margin-bottom: 80px;
}

.services__images img {
  width: 100%;
}

.services__page .services__inner__wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__item__in {
  display: none;
}

.services .services__inner__2 .services__item__in {
  color: #9B51E0;
}

.services .services__inner__2 .services__item__wrap:nth-child(4) {
  margin-left: 0;
}

/*block__video*/

.pages__video .pages__title__wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.block__video {
  margin: 0 -20px 5px;
  width: 100%;
  height: 0;
  width: calc(100% + 40px);
  padding-bottom: 56.25%;
  position: relative;
}

.block__video iframe {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
}

/*career*/

.career__images .work__single__image {
  margin-bottom: 0;
}

.career__content {
  max-width: 635px;
  padding: 80px 0;
}

.career__content.no-padding {
  padding-bottom: 0;
}

.career__content p:last-child {
  margin: 0;
}

.career__subtitle {
  margin-bottom: 40px;
  font-weight: 600;
}

/*agency*/

body.agency {
  background: #AFAFAF;
}

/*contact*/

.contact__page .block__video {
  margin-top: 0;
}

.contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact__item {
  max-width: 500px;
  margin: 0 0 32px;
}

.contact__item__title {
  margin: 0 0 12px;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.4);
}

.contact__item p {
  margin: 0;
}

.contact__item p a {
  color: inherit;
}

.contact__item p a:hover,
.contact__item p a:focus {
  color: #FF003D;
  text-decoration: underline;
}

@media only screen and (min-width: 321px) {
  .banner__home__title {
    max-width: 75%;
  }

  .work__item {
    padding: 40px;
  }

  .work__item.worm__item__2h {
    padding: 40px;
  }
}

@media only screen and (min-width: 330px) {
  .success__item__in img {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 480px) {
  body header .container.container__small {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  body header .header__logo .digital__agency {
    margin: 0 0 -3px;
  }
}

@media only screen and (min-width: 768px) {
  body h1,
  body h2 {
    font-size: 2.4em;
  }

  body .padding_t_80 {
    padding-top: 60px;
  }

  .block__title {
    padding-bottom: 110px;
  }

  .block__title__modular {
    text-align: right;
  }

  .success__inner__in {
    width: 100%;
  }

  .work__item.worm__item__2h .work__item__image img {
    max-height: 370px;
    width: calc(100% - 70px);
  }

  .work__item__image {
    max-height: 370px;
  }

  .work__item__image img {
    max-height: 370px;
  }

  .work .wrap__btn {
    margin: 64px auto 0;
    text-align: center;
  }

  .process__inner {
    padding: 600px 30px 100px;
  }

  .process__wrap img {
    width: 400px;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    height: 400px;
  }

  .related__item {
    margin-bottom: 0;
  }

  .related__item__inner {
    bottom: 35px;
    left: 35px;
    width: calc(100% - 70px);
  }

  body .modal .modal-dialog .close {
    right: -60px;
  }

  body .modal .modal-dialog .close:hover,
  body .modal .modal-dialog .close:focus {
    background: #ffe0e8;
  }

  .pages {
    padding-top: 208px;
  }

  .pages__mini__title {
    padding: 78px 0 110px;
  }

  .pages__mini__title__inner {
    font-size: 2em;
  }

  .work__single__image {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
  }

  .work__single__image img {
    border-radius: 4px;
  }

  .work__single__item {
    height: 440px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
    border-radius: 4px;
  }

  .work__single__item.work__single__item2h {
    height: 900px;
  }

  .work__info {
    margin-bottom: 90px;
  }

  .work__info__item {
    margin-right: 56px;
    width: 248px;
  }

  .work__info.work__info__agency .work__info__item {
    margin-right: 40px;
    width: 170px;
  }

  .next__pro {
    padding-top: 89px;
    height: 550px;
    background: url(../img/back2.svg) no-repeat top left/auto 100%, url(../img/back1.svg) no-repeat top right/auto 100%;
  }

  .next__pro__agency.next__pro {
    background: url(../img/b-agency2.svg) no-repeat top left/auto 100%, url(../img/b-agency1.svg) no-repeat top right/auto 100%;
  }

  .block__video {
    margin: 0 0 20px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 992px) {
  html body .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  html body .container__small.container {
    padding-left: 32px;
    padding-right: 32px;
  }

  html body .container__big.contaienr {
    padding-left: 32px;
    padding-right: 32px;
  }

  body h1,
  body h2 {
    font-size: 2.9em;
  }

  body .padding_b {
    padding-bottom: 140px;
  }

  body .padding_b_200 {
    padding-bottom: 100px;
  }

  body .padding_t {
    padding-top: 120px;
  }

  body .margin_b {
    margin-bottom: 120px;
  }

  main {
    padding-bottom: 180px;
  }

  .block__title__small.block__title {
    text-align: center;
    padding-bottom: 80px;
  }

  .banner__home:before {
    background-size: 100%;
    height: 100vh;
  }

  .banner__home__title {
    font-size: 3.6em;
    max-width: 760px;
  }

  .banner__home__info {
    margin: 0 0 40px;
  }

  .banner__home__btn {
    margin-bottom: 95px;
  }

  .success__agency {
    padding: 48px 5% 80px 0;
  }

  .success__inner {
    width: auto;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .success #btn__down {
    display: block;
  }

  .work__item {
    margin-bottom: 32px;
    padding: 50px 25px;
    height: 312px;
  }

  .work__item.worm__item__2h {
    padding: 50px 25px;
    height: 656px;
  }

  .work__item__image {
    max-height: 230px;
    width: 70%;
  }

  .work__item__image img {
    max-height: 220px;
  }

  .work__item .tal__img {
    display: block;
  }

  .work__item:hover .leaf,
  .work__item:focus .leaf {
    margin-top: 7px;
  }

  .work__item:hover .work__item__description,
  .work__item:focus .work__item__description {
    display: block;
  }

  .services {
    margin-top: -16px;
    margin-bottom: -16px;
  }

  .services__inner.services__inner__2 .services__inner__wrap {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .services__inner__wrap {
    width: 100%;
  }

  .process__inner {
    padding: 60px 60px 120px;
    background-position: top 260px right;
  }

  .process__inner:before {
    display: block;
  }

  .process__title {
    margin: 0 0 110px;
    text-align: left;
  }

  .process__wrap {
    position: relative;
  }

  .process__wrap img {
    width: 595px;
    position: static;
    height: 595px;
    -webkit-transform: 0;
    -ms-transform: 0;
    transform: 0;
  }

  .process__list {
    position: absolute;
    left: 370px;
    width: 620px;
    top: 70px;
  }

  .process__list li {
    text-align: left;
    padding-left: 120px;
  }

  .process__list li:before {
    display: block;
  }

  .related__item {
    height: 620px;
  }

  .related__item__title {
    font-size: 1.6em;
  }

  .footer__inner {
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__copy {
    margin: 0;
  }

  .footer__copy__inner {
    font-size: 1.25em;
  }

  .footer__terms {
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__menu.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .footer__menu__item {
    margin: 0 0 0 15px;
  }

  .pages__title {
    max-width: 840px;
  }

  .pages__mini__title {
    padding: 88px 0 120px;
  }

  .pages__mini__title__inner {
    max-width: calc(50% - 18px);
    margin: 0 0 0 auto;
  }

  .work__filter li {
    margin: 0 22px 15px 0;
  }

  .work__single__image {
    margin-bottom: 32px;
  }

  .work__single__item {
    height: 460px;
    margin-bottom: 32px;
  }

  .work__single__item.work__single__item2h {
    height: 952px;
  }

  .work__info.work__info__agency {
    padding-top: 120px;
  }

  .services__images {
    margin-bottom: 20px;
  }

  .services__images {
    margin-bottom: 10px;
  }

  .services__page .services__inner {
    overflow: initial;
  }

  .services__item__wrap:nth-child(2n) {
    margin-left: 50px;
  }

  .services__item__wrap:nth-child(3) {
    margin-left: 116px;
  }

  .services__item__in {
    margin-left: 40px;
    max-width: 590px;
    font-size: 2em;
    color: #FF003D;
    display: block;
  }

  .services .services__inner__2 .services__item__wrap:first-child,
  .services .services__inner__2 .services__item__wrap:nth-child(3) {
    margin-left: 50px;
  }

  .services .services__inner__2 .services__item__wrap:nth-child(2),
  .services .services__inner__2 .services__item__wrap:last-child {
    margin-left: 116px;
  }

  .block__video {
    margin: 0 0 32px;
  }

  .career__content {
    padding: 100px 0;
  }

  .contact__item {
    margin: 0 30px 32px 0;
    max-width: 316px;
  }
}

@media only screen and (min-width: 1199px) {
  html body .container__small.container {
    padding-left: 52px;
    padding-right: 52px;
  }

  body .padding_b_200 {
    padding-bottom: 150px;
  }

  body .padding_t {
    padding-top: 180px;
  }

  .footer__menu__item {
    margin: 0 0 0 20px;
  }

  body .modal .modal-dialog {
    max-width: 1000px;
    height: 600px;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  body h1,
  body h2 {
    font-size: 3.5em;
  }

  body .padding_b {
    padding-bottom: 180px;
  }

  body .margin_b {
    margin-bottom: 180px;
  }

  body .margin_b_32 {
    margin-bottom: 32px;
  }

  body header {
    padding: 58px 0;
  }

  body header .wrap__menu {
    padding: 160px 84px 50px 56px;
    right: -415px;
    width: 408px;
  }

  body header .wrap__menu:before {
    left: 56px;
    top: 56px;
  }

  .block__title {
    padding-bottom: 140px;
  }

  .banner__home {
    padding: 240px 0 40px;
    height: 100vh;
  }

  .banner__home:before {
    background-size: 440px;
    background: url(../img/banner-home.svg) no-repeat top right;
  }

  .banner__home__title {
    font-size: 4.5em;
    max-width: 1060px;
  }

  .success {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .success__inner {
    padding-left: 6%;
    margin: 0;
  }

  .success__item__tool:before {
    display: block;
  }

  .success__item__in img {
    margin-right: 48px;
  }

  .success__item__inner {
    font-size: 0.9375em;
  }

  .work__item__image img {
    max-height: 240px;
  }

  .work__item .tal__img {
    right: 58px;
    top: 55px;
  }

  .work__item__title.item__size1 {
    font-size: 2em;
  }

  .work__item__title.item__size2 {
    font-size: 1.75em;
  }

  .services__inner.services__inner__2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .process__inner {
    padding: 70px 90px 120px;
  }

  .process__title {
    margin: 0 0 180px;
  }

  .process__list li {
    padding-left: 261px;
  }

  .process__list li:before {
    width: 240px;
  }

  .related__item__inner {
    bottom: 48px;
    left: 56px;
    width: calc(100% - 112px);
  }

  .related__item__title {
    font-size: 2em;
  }

  .pages__agency .pages__title__inner {
    max-width: 576px;
  }

  .pages__title__wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 120px;
  }

  .pages__title__wrap .pages__title {
    margin: 0;
  }

  .pages__title__inner {
    max-width: 410px;
    margin: 0 0 0  24px;
  }

  .work__title {
    margin: 0 0 57px;
  }

  .work__filter__wrap {
    width: 100%;
  }

  .work__filter li {
    margin: 0 24px 31px 0;
  }

  .work__type__image {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 35px;
    height: 290px;
    left: auto;
    bottom: 0;
    width: 290px;
  }

  .work__single__item {
    height: 560px;
  }

  .work__single__item.work__single__item2h {
    height: 1152px;
  }

  .work__single__wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 115px;
  }

  .work__single__wrap__element {
    width: 65%;
  }

  .work__single .pages__title {
    margin-bottom: 47px;
  }

  .work__single .pages__title__inner__info {
    margin-top: 60px;
  }

  .work__single .success__inner {
    margin: 0;
    padding: 0 15px 0 0;
  }

  .work__info {
    margin-bottom: 120px;
  }

  .work__info.work__info__agency .work__info__item {
    margin-right: 80px;
  }

  .next__pro {
    height: 700px;
  }

  .services__images {
    margin-bottom: -40px;
  }

  .services__item__wrap:nth-child(2n) {
    margin-left: 170px;
  }

  .services__item__wrap:nth-child(3) {
    margin-left: 356px;
  }

  .services .services__inner__2 .services__item__wrap:first-child,
  .services .services__inner__2 .services__item__wrap:nth-child(3) {
    margin-left: 170px;
  }

  .services .services__inner__2 .services__item__wrap:nth-child(2),
  .services .services__inner__2 .services__item__wrap:last-child {
    margin-left: 356px;
  }

  .block__video {
    margin: 115px 0 32px;
  }

  .career__content {
    padding: 120px 0;
  }

  .contact__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact__info {
    padding: 76px 0 55px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .contact__item {
    margin: 0;
  }
}

@media only screen and (min-width: 1280px) {
  body .padding_t_80 {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1440px) {
  html body .container {
    width: 1440px;
  }

  html body .container__small.container {
    padding-left: 72px;
    padding-right: 72px;
  }

  body .padding_b {
    padding-bottom: 256px;
  }

  body .padding_b_200 {
    padding-bottom: 200px;
  }

  body .padding_t {
    padding-top: 256px;
  }

  body .margin_b {
    margin-bottom: 256px;
  }

  main {
    padding-bottom: 256px;
  }

  .block__title {
    padding-bottom: 200px;
  }

  .banner__home__btn {
    margin-bottom: 128px;
  }

  .success__inner {
    padding-left: 9%;
  }

  .work__item {
    padding: 72px 40px;
  }

  .work__item.worm__item__2h {
    padding: 72px 64px;
  }

  .services__inner__wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .process__inner {
    padding: 95px 120px 170px;
  }

  .process__title {
    margin: 0 0 240px;
  }

  .related__item {
    height: 720px;
  }

  .footer__menu__item {
    margin: 0 0 0 40px;
  }

  .work__single__item {
    height: 660px;
  }

  .work__single__item.work__single__item2h {
    height: 1352px;
  }

  .next__pro {
    height: 950px;
  }

  .services__item__wrap:nth-child(2n) {
    margin-left: 282px;
  }

  .services__item__wrap:nth-child(3) {
    margin-left: 567px;
  }

  .services .services__inner__2 .services__item__wrap:first-child,
  .services .services__inner__2 .services__item__wrap:nth-child(3) {
    margin-left: 282px;
  }

  .services .services__inner__2 .services__item__wrap:nth-child(2),
  .services .services__inner__2 .services__item__wrap:last-child {
    margin-left: 567px;
  }

  .block__video {
    padding-bottom: 54%;
  }
}

@media only screen and (min-width: 1441px) {
  .banner__home {
    padding: 273px 0 50px;
  }
}

@media only screen and (min-width: 1680px) {
  .block__video {
    padding-bottom: 47%;
  }
}

@media only screen and (min-width: 1920px) {
  .block__video {
    padding-bottom: 42%;
  }
}

@media only screen and (max-width: 991px) {
  .banner__home__inner__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .process__list li {
    margin-left: 0 !important;
  }

  .work__filter li .btn__view {
    padding: 18px 30px;
  }

  .contact__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .success:before {
    display: block;
    position: absolute;
    height: 60%;
    content: "";
    width: 60px;
    bottom: 0;
    right: -20px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.95)), to(rgba(199, 2, 48, 0)));
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.95) 0%, rgba(199, 2, 48, 0) 100%);
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.95) 0%, rgba(199, 2, 48, 0) 100%);
    z-index: 9;
  }

  .success__inner {
    overflow-x: auto;
  }

  .work__filter li .btn__view {
    padding: 16px 25px;
    line-height: 1;
  }

  .work__info.work__info__agency .work__info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 479px) {
  body header .header__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}