* {
	box-sizing: border-box;
	line-height: 1.2;
	font-family: 'Asap', sans-serif;
}
html { 
	body { 
		margin: 0; 
		padding: 0;
		width: 100%;  
		height: 100%;
		font-size: 16px;
		overflow-x: hidden; 
		font-family: 'Asap', sans-serif;
		background: #ffffff; 
		color: #000000;
		.container { 
			max-width: 100%; 
			width: 100%;
			position: relative;
			padding-left: 20px;
			padding-right: 20px;	
			@media only screen and(min-width: 992px) {
				padding-left: 32px;
				padding-right: 32px;
			}
			@media only screen and(min-width: 1440px) {
				width: 1440px;
			}	
			&__small.container {
				padding-left: 20px;
				padding-right: 20px;
				@media only screen and(min-width: 992px) {
					padding-left: 32px;
					padding-right: 32px;
				}
				@media only screen and(min-width: 1199px) {
					padding-left: 52px;
					padding-right: 52px;
				}
				@media only screen and(min-width: 1440px) {
					padding-left: 72px;
					padding-right: 72px;
				}	
			}
			&__big.contaienr {
				padding-left: 20px;
				padding-right: 20px;
				max-width: 100%;
				width: 100%;
				@media only screen and(min-width: 992px) {
					padding-left: 32px;
					padding-right: 32px;
				}
			}
		}
	}
}
body.open-menu {
	overflow: hidden;
}
/*color*/
$white-color: #ffffff;
$dark-color: #000000;
$gray-color: rgba($dark-color, 0.4);
$red-color: #FF003D;
$purple-color: #9B51E0;

body p,
.main__text {
	font-size: 1.25em;
	margin: 0 0 30px;
	font-weight: 400;
	line-height: 1.5;
}
img {max-width: 100%}

body h1,
body h2 {
	font-size: 2em;
	@media only screen and(min-width: 768px) {
		font-size: 2.4em;
	}
	@media only screen and(min-width: 992px) {
		font-size: 2.9em;
	}
	@media only screen and(min-width: 1200px) {
		font-size: 3.5em;
	}
}

body h3 {
	font-size: 2em;
}
body h1,
body h2,
body h3 {
	margin: 0;
}
body strong ,
body b {
	font-weight: 700;
}
body .row:before,
body .row:after {
	display: inline-block!important;
}
body .row {
	margin-left: -16px;
	margin-right: -16px;
	.col-xs-12,
	.col-xs-6 {
		padding-left: 16px;
		padding-right: 16px;
	}
	&__flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.col-xs-12 ,
		.col-xs-6 {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
body a{
	cursor: pointer;
	transition: 0.5s ease;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.link__red {
	text-decoration: none;
	color: $red-color;
	&:hover,
	&:focus,
	&:active {
		color: $red-color;
		text-decoration: underline;
	}
}
.btn__view {
	color: $red-color;
	background: $white-color;
	display: inline-block;
	padding: 20px 40px;
	border: 0;
	font-size: 1.125em;
	border-radius: 100px;
	box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
	border: 2px solid rgba(254, 12, 61, 0.08);
	&:hover,
	&:focus,
	&:active {
		color: $red-color;
		border: 2px solid $red-color;
	}
}
body {
	.padding_b {
		padding-bottom: 80px;
		@media only screen and(min-width: 992px) {
			padding-bottom: 140px;
		}
		@media only screen and(min-width: 1200px) {
			padding-bottom: 180px;
		}
		@media only screen and(min-width: 1440px) {
			padding-bottom: 256px;
		}
	}
	.padding_b_200 {
		padding-bottom: 60px;
		@media only screen and(min-width: 992px) {
			padding-bottom: 100px;
		}
		@media only screen and(min-width: 1199px) {
			padding-bottom: 150px;
		}
		@media only screen and(min-width: 1440px) {
			padding-bottom: 200px;
		}
	}
	.padding_t {
		padding-top: 80px;
		@media only screen and(min-width: 992px) {
			padding-top: 120px;
		}
		@media only screen and(min-width: 1199px) {
			padding-top: 180px;
		}
		@media only screen and(min-width: 1440px) {
			padding-top: 256px;
		}
	}
	.padding_t_80 {
		padding-top: 40px;
		@media only screen and(min-width: 768px) {
			padding-top: 60px;
		}
		@media only screen and(min-width: 1280px) {
			padding-top: 80px;
		}
	}
	.margin_b {
		margin-bottom: 80px;
		@media only screen and(min-width: 992px) {
			margin-bottom: 120px;
		}
		@media only screen and(min-width: 1200px) {
			margin-bottom: 180px;
		}
		@media only screen and(min-width: 1440px) {
			margin-bottom: 256px;
		}
	}
	.margin_b_32 {
		margin-bottom: 20px;
		@media only screen and(min-width: 1200px) {
			margin-bottom: 32px;
		}
	}
}
/*header*/
body header {
	position: absolute;
	padding: 42px 0;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 99;
	@media only screen and(min-width: 1200px) {
		padding: 58px 0;
	}
	.container.container__small {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: static;
		width: 100%;
		@media only screen and(min-width: 480px) {
			align-items: center;
		}
	}
	.header__logo {
		display: flex;
		align-items: flex-end;
		@media only screen and(max-width: 479px) {
			flex-direction: column;
			align-items: flex-start;
		}
		.logo {
			width: 132px;
			margin-right: 9px;
		}
		.digital__agency {
			height: 13px;
			margin: 8px 0 0;
			@media only screen and(min-width: 480px) {
				margin: 0 0 -3px;
			}
		}
	}
	
	.wrap__burger {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 9999;
		height: 30px;
		width: 40px;
		cursor: pointer;
		&:hover,
		&:focus {
			.burger .burger__inner,
			.burger .burger__inner:before,
			.burger .burger__inner:after {
				background: $red-color;
			}
			&:before {
				opacity: 1;
			}
		}
		&:before {
			display: block;
			content: "";
			position: absolute;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			background: rgba($red-color, 0.12);
			opacity: 0;
			transition: 0.3s ease;
			top: -18px;
			left: -8px;
		}
	}
	.burger {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 30px;
		padding: 0 5px;
		.burger__inner,
		.burger__inner:before,
		.burger__inner:after {
			position: absolute;
			width: 30px;
			height: 3px;
			border-radius: 4px;
			background-color: $dark-color;
		}
		&__inner {
			transition: background-color 0s linear .13s;
			&:before {
				display: block;
				content: "";
				top: 8px;
				transition: top .1s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
			}
			&:after {
				display: block;
				content: "";
				top: 16px;
				transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
			}
		}
	
	}
	&.active {
		.wrap__burger {
			&:before {
				opacity: 0;
			}
		}
		.burger {
			&__inner {
				transition-delay: .22s;
				background-color: transparent!important;
				&:before {
					top: 0;
					transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .15s,transform .13s cubic-bezier(.215,.61,.355,1) .22s;
					transform: translate3d(0,10px,0) rotate(45deg);
				}
				&:after {
					top: 0;
					transition: top .2s cubic-bezier(.33333,0,.66667,.33333),transform .13s cubic-bezier(.215,.61,.355,1) .22s;
					transform: translate3d(0,10px,0) rotate(-45deg);
				}
			}
		}
	}
	.wrap__menu {
		transition: 0.5s ease;
		position: fixed;
		background: $white-color;
		top: 0;
		right: -330px;
		width: 320px;
		height: 100vh;
		z-index: 999;
		padding: 144px 32px 40px 20px;
		overflow-y: auto;
		box-shadow: none;
		@media only screen and(min-width: 1200px) {
			padding: 160px 84px 50px 56px;
			right: -415px;
			width: 408px;
		}
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}
		&::-webkit-scrollbar {
			width: 6px;
			background-color: #F5F5F5;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $gray-color;
		}
		&.active {
			right: 0;
			box-shadow: 2px 4px 32px rgba(254, 12, 61, 0.4);
		}
		&:before {
			display: block;
			position: absolute;
			background: $red-color;
			border-radius: 1px;
			content: "";
			width:  19px;
			height: 24px;
			left: 20px;
			top: 40px;
			@media only screen and(min-width: 1200px) {
				left: 56px;
				top: 56px;
			}
		}

		 .menu {
			 margin-bottom: 48px;
			&__item {
				margin: 0 0 28px;
				width: 100%;
				&:last-child {
					margin-bottom: 0;
				}
				&__current {
					.menu__link {
						color: $red-color;
					}
				}
			}			  
			&__link {
				display: block;
				padding: 0;
				font-size: 2em;
				font-weight: 600;
				transition: 0.3s ease;
				color: $dark-color;
				background: transparent;
				&:hover,
				&:focus {
					background: transparent;
					color: $red-color;
				}
			}
		}
		.submenu {
			margin-bottom: 48px;
			&__item {
				margin: 0 0 16px;
				width: 100%;
				&:last-child {
					margin-bottom: 0;
				}
				&__current {
					.submenu__link {
						color: $red-color;
					}
				}
			}		
			&__link {
				display: block;
				padding: 0;
				font-size: 1.375em;
				font-weight: 400;
				transition: 0.3s ease;
				color: $gray-color;
				background: transparent;
				&:hover,
				&:focus {
					background: transparent;
					color: $red-color;
				}
			}
		}
		.social {
			margin-bottom: 80px;
			&__link {
				display: block;
				width: 100%;
				padding: 0;
				font-size: 1em;
				font-weight: 400;
				transition: 0.3s ease;
				color: $gray-color;
				background: transparent;
				margin-bottom: 11px;
				&:hover,
				&:focus {
					background: transparent;
					color: $red-color;
				}
			}
		}
		.menu__info {
			&__country {
				font-size: 1.125em;
				margin: 0 0 16px;
				font-weight: 600;
				img {
					margin-left: 14px;
				}
			}
			&__inner {
				p {
					color: $gray-color;
					font-size: 0.875em;
					line-height: 2;
					margin-bottom: 25px;
					&:last-child {
						margin: 0;
					}
					a {
						color: inherit;
						text-decoration: underline;
						&:hover,
						&:focus {
							color: $red-color;
						}
					}
				}
			}
		}
	}
}
.blur {
	position: fixed;
	background: rgba($white-color, 0.8);
	left: 0;
	top: 0;
	display: none;
	width: 100%;
	height: 100%;
	transition: 0.2s ease;
}

main  {
	transition: 0.1s ease;
}
.open-menu {
	.header__logo ,
	main {
		filter: blur(4px);
	}
	.blur  {
		display: block;
	}
}

/*main*/
main {
	padding-bottom: 120px;
	@media only screen and(min-width: 992px) {
		padding-bottom: 180px;
	}
	@media only screen and(min-width: 1440px) {
		padding-bottom: 256px;
	}
}

.block__title {
	padding-bottom: 80px;
	@media only screen and(min-width: 768px) {
		padding-bottom: 110px;
	}
	@media only screen and(min-width: 1200px) {
		padding-bottom: 140px;
	}
	@media only screen and(min-width: 1440px) {
		padding-bottom: 200px;
	}
	&__related {
		max-width: 816px;
	}
	&__services {
		max-width: 785px;
		margin: 0 0 0 auto;
	}
	&__modular {
		max-width: 890px;
		
		margin: 0 0 0 auto;
		@media only screen and(min-width: 768px) {
			text-align: right;
		}
	}
	&__small.block__title {
		padding-bottom: 40px;
		@media only screen and(min-width: 992px) {
			text-align: center;
			padding-bottom: 80px;
		}
	}
}

/*banner__home*/
.banner__home {
	padding: 220px 0 38px;
	position: relative;
	@media only screen and(min-width: 1200px) {
		padding: 240px 0 40px;
		height: 100vh;
	}
	@media only screen and(min-width: 1441px) {
		padding: 273px 0 50px;
	}
	&:before {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 40%;
		background: url(../img/banner-home.svg) no-repeat top left;
		background-size: calc(100% + 50px);
		@media only screen and(min-width: 992px) {
			background-size: 100%;
			height: 100vh;
		}
		@media only screen and(min-width: 1200px) {
			background-size: 440px;
			background: url(../img/banner-home.svg) no-repeat top right;
		}
	}
	&__title {
		font-size: 2.75em;
		margin: 0 0 32px;
		max-width: 80%;
		@media only screen and(min-width: 321px) {
			max-width: 75%;
		}
		@media only screen and(min-width: 992px) {
			font-size: 3.6em;
			max-width: 760px;
		}
		@media only screen and(min-width: 1200px) {
			font-size: 4.5em;
			max-width: 1060px;
		}
	}
	&__info {
		margin: 80px 0 0;
		max-width: 860px;
		font-size: 1.125em;
		line-height: 1.8;
		@media only screen and(min-width: 992px) {
			margin: 0 0 40px;
		}
	}
	&__btn {
		box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
		border-radius: 100px;
		background: white;
		display: inline-flex;
		align-items: center;
		padding: 7px 24px 7px 7px ;
		border: 2px solid rgba(254, 12, 61, 0.08);
		transition: 0.3s ease;
		appearance: none!important; 
		max-width: 240px;
		width: 100%;
		margin-bottom: 80px;
		@media only screen and(min-width: 992px) {
			margin-bottom: 95px;
		}
		@media only screen and(min-width: 1440px) {
			margin-bottom: 128px;
		}
		&:hover,
		&:focus {
			border: 2px solid $red-color;
			.banner__home__btn__text {
				color: $red-color;
			}
		
		}
		&__inner {
			border-radius: 50%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 70px;
			height: 70px;
			margin-right: 20px;
			svg {
				width: 21px;
				fill: $red-color;
				height: 25px;
			}
		}
		&__text {
			font-size: 0.875em;
			font-weight: 500;
			color: $dark-color;
		}
	}
	&__inner {
		width: 100%;
		&__wrap {
			@media only screen and(max-width: 991px) {
				display: flex;
				flex-direction: column-reverse;
			}
		}
	}
}

/*success*/
.agency {
	.success:before {
		background: linear-gradient(-90deg, rgba(175,175,175, 0.95) 0%, rgba(199, 2, 48, 0) 100%);
	}
}
.success {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: relative;
	@media only screen and(min-width: 1200px) {
		flex-direction: row;
	}
	@media only screen and(max-width: 767px) {
		&:before {
			display: block;
			position: absolute;
			height: 60%;
			content: "";
			width: 60px;
			bottom: 0;
			right: -20px;
			background: linear-gradient(-90deg, rgba($white-color, 0.95) 0%, rgba(199, 2, 48, 0) 100%);
			z-index: 9;
		}
	}
	&__agency {
		padding: 40px 0;
		@media only screen and(min-width: 992px) {
			padding: 48px 5% 80px 0;
		}
		
	}
	.mobile__full {
		display: flex;
		justify-content: flex-start;
	}
	&__inner {
		margin-top: 25px;
		width: 100%;
		@media only screen and(min-width: 992px) {
			width: auto;
			flex-grow: 2;
			display: flex;
		}
		@media only screen and(min-width: 1200px) {
			padding-left: 6%;
			margin: 0;
		}
		@media only screen and(min-width: 1440px) {
			padding-left: 9%;
		}
		@media only screen and(max-width: 767px) {
			overflow-x: auto;
		}
		&__in {
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			width: 580px;
			@media only screen and(min-width: 768px) {
				width: 100%;
			}
		}
		img {
			max-height: 44px;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		cursor: pointer;
		&__tool {
			&:before {
				opacity: 0;
				 pointer-events: none;
				display: none;
				position: absolute;
				bottom: calc(100% + 15px);
				left: 50%;
				border-radius: 4px;
				background: $dark-color;
				padding: 17px 20px;
				font-size: 0.875em;
				color: rgba($white-color, 0.64);
				width: 280px;
				content: attr(data-title);
				transform: translate3d(-50%,10px,0);
				transition: all .25s ease-in-out;
				@media only screen and(min-width: 1200px) {
					display: block;
				}
			}
		}
		&__in {
			img {
				margin-right: 10px;
				@media only screen and(min-width: 330px) {
					margin-right: 20px;
				}
				@media only screen and(min-width: 1200px) {
					margin-right: 48px;
				}
			}
		}
		&__inner {
			max-width: 200px;
			font-size: 0.875em;
			@media only screen and(min-width: 1200px) {
				font-size: 0.9375em;
			}
		}
		&:hover,
		&:focus {
			&:before {
				opacity: 1;
				transform: translate3d(-50%,0,0);
			}
		}
	}
	#btn__down {
		width: 56px;
		height: 56px;
		position: relative;
		border-radius: 50%;
		transition: 0.5s ease;
		background: transparent;
		cursor: pointer;
		display: none;
		@media only screen and(min-width: 992px) {
			display: block;
		}
		&:hover,
		&:focus {
			background: rgba($red-color, 0.12);
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 16px;
			height: 16px;
			animation: MoveUpDown 2s ease infinite;
		}
	}
}

@keyframes MoveUpDown {
	0%, 100% {
		top: calc(50% + 8px);
	}
	50% {
		top: calc(50% - 12px);
	}
  }

.work {
	&__item {
		display: block;
		margin-bottom: 20px;
		height: 452px;
		border-radius: 4px;
		position: relative;
		padding: 40px 30px;
		overflow: hidden;
		@media only screen and(min-width: 321px) {
			padding: 40px;
		}
		@media only screen and(min-width: 992px) {
			margin-bottom: 32px;
			padding: 50px 25px;
			height: 312px;
		}
		@media only screen and(min-width: 1440px) {
			padding: 72px 40px;
		}
		&.worm__item__2h {
			height: 452px;
			padding: 40px 30px;
			@media only screen and(min-width: 321px) {
				padding: 40px;
			}
			@media only screen and(min-width: 992px) {
				padding: 50px 25px;
				height: 656px;
			}
			@media only screen and(min-width: 1440px) {
				padding: 72px 64px;
			}
			.work__item__image {
				width: calc(100% - 30px);
				max-height: 370px;
				img {
					max-height: 220px;
					@media only screen and(min-width: 768px) {
						max-height: 370px;
						width: calc(100% - 70px);
					}
				}
			}
		}
		&__description {
			display: none;
			max-width: 316px;
			min-width: 140px;
			color: rgba($white-color, 0.4);
			font-size: 0.875em;
			font-weight: 600;
			line-height: 1.4;
			position: relative;
			z-index: 1;
			margin-bottom: 15px;
		}
		&__image {
			position: absolute;
			right: 0;
			bottom: 0;
			width: calc(100% - 40px);
			max-height: 220px;
			text-align: right;
			@media only screen and(min-width: 768px) {
				max-height: 370px;
			
			}
			@media only screen and(min-width: 992px) {
				max-height: 230px;
				width: 70%;
			}
			img {
				max-width: 100%;
				max-height: 220px;
				@media only screen and(min-width: 768px) {
					max-height: 370px;
				}
				@media only screen and(min-width: 992px) {
					max-height: 220px;
				}
				@media only screen and(min-width: 1200px) {
					max-height: 240px;
				}
				&.bottom__right__50 {
					display: block;
					margin: 0 auto;
				}
			}
		}
		.tal__img  {
			position: absolute;
			width: 335px;
			height: 210px;
			right: 40px;
			top: 115px;
			display: none;
			@media only screen and(min-width: 992px) {
				display: block;
			}
			@media only screen and(min-width: 1200px) {
				right: 58px;
				top: 55px;
			}
		}
		&__title {
			font-weight: 600;
			font-size: 1.375em;
			color: rgba($white-color, 0.24);
			transition: 0.4s ease;
			margin: 0 0 20px;
			position: relative;
			z-index: 1;
			&.item__size1 {
				@media only screen and(min-width: 1200px) {
					font-size: 2em;
				}
			}
			&.item__size2 {
				font-size: 1.75em;
				@media only screen and(min-width: 1200px) {
					font-size: 1.75em;
				}
			}
		}
		&__inner {
			display: flex;
			justify-content: space-between;
		}
		&:hover,
		&:focus {
			box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
			.leaf {
				opacity: 1;
				display: block;
				@media only screen and(min-width: 992px) {
					margin-top: 7px;
				}
			}
			.work__item__title {
				color: white;
			}
			.work__item__description {
				@media only screen and(min-width: 992px) {
					display: block;
				}
			}
			.tal__img {
				display: none;
			}
		}
	}
	.leaf {
		transition: 0.3s ease;
		width: 48px;
		height: 48px;
		opacity: 0.24;
	
	}
	.wrap__btn {
		margin: 60px 0 56px 0;
		text-align: left;
		@media only screen and(min-width:768px) {
			margin: 64px auto 0;
			text-align: center;
		}
	}
}





/*services*/

.services {
	@media only screen and(min-width: 992px) {
		margin-top: -16px;
		margin-bottom: -16px;
	}
	overflow: hidden;
	&__inner {
		margin-left: -16px;
		margin-right: -16px;
		width: calc(100% + 32px);
		overflow-x: auto;
		&.services__inner__2 {
			flex-direction: row;
			@media only screen and(min-width: 1200px) {
				flex-wrap: wrap;
				flex-direction: column;
			}
			.services__item {
				box-shadow: 2px 4px 16px rgba($purple-color, 0.2);
				color: $purple-color;
				&:hover,
				&:focus {
					border: 2px solid $purple-color;
				}
			}
			.services__item__title,
			.services__item__subtitle {
				color: $purple-color;
			}
			.services__inner__wrap {
				flex-wrap: no-wrap;
				width: 1975px;
				@media only screen and(min-width: 992px) {
					width: 100%;
					flex-wrap: wrap;
				}
			}

		}
		&__wrap {
			width: 1410px;
			overflow-x: auto;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			@media only screen and(min-width: 992px) {
				width: 100%;
			}
			@media only screen and(min-width: 1440px) {
				flex-wrap: nowrap;
			}
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}
			&::-webkit-scrollbar {
				height: 6px;
				background-color: #F5F5F5;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $gray-color;
			}
		}
	}
	&__in {
		display: flex;
		width: 100%;
	}
	&__item {
		margin: 16px; 
		width: 250px;
		height: 250px;
		border-radius: 4px;
		display: block;
		position: relative;
		box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
		color: $red-color;
		border: 2px solid transparent;
		transition: 0.3s ease;
		&:hover,
		&:focus {
			border: 2px solid $red-color;
		}
		&__inner {
			position: absolute;
			left: 32px;
			width: calc(100% - 64px);
			bottom: 32px;
		}
		&__title {
			font-size: 1.75em;
			font-weight: 600;
			margin: 0 0 8px;
			color: $red-color;
		}
		&__subtitle {
			font-size: 1.125em;
			font-weight: normal;
			margin: 0;
			color: $red-color;
		}
	}
	&__icon__heart,
	&__icon__like  {
		position: absolute;
		top: 32px;
		height: 16px;
		left: 32px;
	}
	&__icon__heart {
		width: 20px;
	}
	&__icon__like{
		width: 16px;
	}

}

/*modular*/
.modular {
	img {
		width: 100%;
	}
}

/*process*/

.process {
	&__inner {
		background-color: $dark-color;
		border-radius: 4px;
		padding: 460px 20px 84px;
		position: relative;
		background-image: url(../img/back3.svg);
		background-repeat: no-repeat;
		background-size: 640px;
		background-position: center 64%;
		@media only screen and(min-width: 768px) {
			padding: 600px 30px 100px;
		}
		@media only screen and(min-width: 992px) {
			padding: 60px 60px 120px;
			background-position: top 260px right;
		}
		@media only screen and(min-width: 1200px) {
			padding: 70px 90px 120px;
		}
		@media only screen and(min-width: 1440px) {
			padding: 95px 120px 170px;
		}
		&:before {
			display: none;
			position: absolute;
			background: $red-color;
			border-radius: 1px;
			content: "";
			width:  13px;
			height: 16px;
			right: 72px;
			top: 88px;
			@media only screen and(min-width: 992px) {
				display: block;
			}
		}
	}
	&__title {
		color: white;
		max-width: 840px;
		margin:  0 auto 160px;
		text-align: center;
		@media only screen and(min-width: 992px) {
			margin:  0 0 110px;
			text-align: left;
		}
		@media only screen and(min-width: 1200px) {
			margin:  0 0 180px;
		}
		@media only screen and(min-width: 1440px) {
			margin:  0 0 240px;
		}
	}
	&__wrap {
		@media only screen and(min-width: 992px) {
			position: relative;
		}
		img {
			position: absolute;
			top: 120px;
			left: 50%;
			transform: translateX(-50%);
			width: 260px;
			height: 260px;
			@media only screen and(min-width: 768px) {
				width: 400px;
				transform: translate(0);
				height: 400px;
			}
			@media only screen and(min-width: 992px) {
				width: 595px;
				position: static;
				height: 595px;
				transform: 0;
			}
		}
	}
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		@media only screen and(min-width: 992px) {
			position: absolute;
			left: 370px;
			width: 620px;
			top: 70px;
		}
		li {
			position: relative;
			font-size: 1.25em;
			color: $white-color;
			margin-bottom: 36px;
			text-align: center;
			@media only screen and(min-width: 992px) {
				text-align: left;
				padding-left: 120px;
			}
			@media only screen and(min-width: 1200px) {
				padding-left: 261px;
			}
			&:first-child {
				margin-left: 115px;
			}
			&:nth-child(2) {
				margin-left: 165px;
				margin-bottom: 43px;
			}
			&:nth-child(3) {
				margin-left: 195px;
			}
			&:nth-child(4) {
				margin-left: 207px;
			}
			&:nth-child(5) {
				margin-left: 205px;
				margin-bottom: 38px;
			}
			&:nth-child(6) {
				margin-left: 190px;
				margin-bottom: 33px;
			}
			&:nth-child(7) {
				margin-left: 165px;
				margin-bottom: 44px;
			}
			&:nth-child(8) {
				margin-left: 110px;
				margin-bottom: 30px;
			}
			&:nth-child(2n) {
				color: $red-color;
			}
			@media only screen and(max-width: 991px) {
				margin-left: 0!important;
			}
			&:before {
				display: none;
				content: "";
				width: 110px;
				height: 1px;
				background: linear-gradient(90deg, #C70230 0%, rgba(199, 2, 48, 0) 100%);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				@media only screen and(min-width: 992px) {
					display: block;
				}
				@media only screen and(min-width: 1200px) {
					width: 240px;
				}
			}
		}
	}
}



/*related*/
.related {
	.col-xs-12 {
		&:last-child {
			.related__item {
				margin-bottom: 0;
			}
		}
	}
	&__item {
		height: 512px;
		position: relative;
		display: block;
		transition: 0.5s ease;
		margin-bottom: 20px;
		@media only screen and(min-width: 768px) {
			margin-bottom: 0;
		}
		@media only screen and(min-width: 992px) {
			height: 620px;
		}
		@media only screen and(min-width: 1440px) {
			height: 720px;
		}
		&:hover,
		&:focus {
			box-shadow: 2px 4px 16px rgba(254, 12, 61, 0.2);
			.related__item__btn {
				color: $white-color;
				background: $red-color;
			}
			.related__item__image {
				filter: none;
				&:before {
					opacity: 0;
				}
			}
			.related__item__title {
				color: $white-color;
			}
		}
		&__inner {
			position: absolute;
			bottom: 20px;
			left: 20px;
			width: calc(100% - 40px);
			z-index: 5;
			@media only screen and(min-width: 768px) {
				bottom: 35px;
				left: 35px;
				width: calc(100% - 70px);
			}
			@media only screen and(min-width: 1200px) {
				bottom: 48px;
				left: 56px;
				width: calc(100% - 112px);
			}
		}
		&__image {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			top: 0;
			transition: 0.5s ease;
			filter: grayscale(100%);
			&:before {
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				transition: 0.5s ease;
				position: absolute;
				content: "";
				background: rgba($white-color, 0.8);
			}
		}
		&__title {
			font-size: 1.25em;
			font-weight: 600;
			color: $dark-color;
			margin: 0 0 22px;
			transition: 0.5s ease;
			@media only screen and(min-width: 992px) {
				font-size: 1.6em;
			}
			@media only screen and(min-width: 1200px) {
				font-size: 2em;
			}
		}
		&__btn {
			display: inline-block;
			line-height: 1;
			border-radius: 100px;
			border: 2px solid $red-color;
			color: $red-color;
			font-size: 1.25em;
			font-weight: 500;
			padding: 16px 10px;
			text-align: center;
			width: 160px;
			transition: 0.5s ease;
		}
	}
}


/**/




/*footer*/
.footer {
	&__inner {
		padding-bottom: 13px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		@media only screen and(min-width: 992px) {
			padding-bottom: 20px;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__copy {
		display: flex;
		flex-grow: 2;
		margin-bottom: 12px;
		@media only screen and(min-width: 992px) {
			margin: 0;
		}
		&__inner {
			margin: 0;
			position: relative;
			padding-right: 8px;
			line-height: 1;
			font-size: 1.125em;
			@media only screen and(min-width: 992px) {
				font-size: 1.25em;
			}
			&:before {
				display: block;
				position: absolute;
				right: 0;
				top: 55%;
				content: "";
				background: $red-color;
				height: 5px;
				width: 4px;
			}
		}
	}
	&__terms {
		display: flex;
		flex-grow: 3;
		margin-bottom: 12px;
		@media only screen and(min-width: 992px) {
			margin: 0;
			justify-content: center;
		}
		a {
			color: $gray-color;
			&:hover,
			&:focus {
				color: $red-color;
			}
		}
	}
	&__menu {
		&.nav {
			display: none;
			@media only screen and(min-width: 992px) {
				display: flex;
				justify-content: flex-end;
			}
		}
		&__item {
			margin: 0 30px 10px 0;
			font-weight: 500;
			&:first-child {
				margin-left: 0;
			}
			@media only screen and(min-width: 992px) {
				margin: 0 0 0 15px;
			}
			@media only screen and(min-width: 1199px) {
				margin: 0 0 0 20px;
			}
			@media only screen and(min-width: 1440px) {
				margin: 0 0 0 40px;
			}
		}
		&__link {
			font-size: 1.125em;
			padding: 0;
			color: $dark-color;
			font-weight: 500;
			&:hover,
			&:focus {
				color: $red-color;
			}
		}
	}
}
/*modal*/
body .modal {
	.modal-dialog {
		width: 100%;
		max-width: 90%;
		height: 0;
		padding-bottom: 56.25%;
		position: relative;
		transform: translate(-50%, -50%)!important;
		top: 50%;
		left: 50%;
		margin: 0;
		@media only screen and(min-width: 1199px) {
			max-width: 1000px;
			height: 600px;
			padding: 0;
		}
		.modal-content {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.close {
			display: flex;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			background: transparent;
			position: absolute;
			font-size: 0;
			top: -60px;
			right: 0;
			opacity: 1;
			transition: 0.3s ease;
			@media only screen and(min-width: 768px) {
				right: -60px;
			}
			&:hover,
			&:focus {
				@media only screen and(min-width: 768px) {
					background: #ffe0e8;
				}
				span,
				span:before,
				span:after {
					background: $red-color;
				}
			}
			span {
				height: 0!important;
			}
			span,
			span:before,
			span:after {
				position: absolute;
				width: 30px;
				height: 3px;
				border-radius: 4px;
				background-color: $white-color;
				content: "";
				transition: 0.3s ease;
			}
			span {
				position: relative;
				display: inline-block;
				transition: background-color 0s linear .13s;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				&:before {
					top: 0;
					left: 0;
					transform:  rotate(45deg);
				}
				&:after {
					top: 0;
					left: 0;
					transform:  rotate(-45deg);
				}
			}
		}
	}
}
body .modal-backdrop.show {
	opacity: 0.88;
}

/*work-page*/
.pages {
	padding-top: 203px;
	@media only screen and(min-width: 768px) {
		padding-top: 208px;
	}
	&__agency {
		.pages__title__inner {
			@media only screen and(min-width: 1200px) {
				max-width: 576px;
			}
		}
		.pages__title {
			max-width: 650px;
		}
		.pages__title__wrap {
			align-items: flex-start;
		}
	}
	&__title {
		@media only screen and(min-width: 992px) {
			max-width: 840px;
		}
		&__wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			@media only screen and(min-width: 1200px) {
				flex-wrap: nowrap;
				margin-bottom: 120px;
			}
			.pages__title {
				margin: 0 0 40px;
				@media only screen and(min-width: 1200px) {
					margin: 0;
				}
			}
		}
		&__inner {
			max-width: 800px;
			margin: 0 0 80px 0;
			@media only screen and(min-width: 1200px) {
				max-width: 410px;
				margin:0 0 0  24px;
			}
			p {
				font-size: 1.25em;
				font-weight: 500;
				line-height: 1.4;
				margin: 0 0 20px;
				&:last-child {
					margin: 0;
				}
			}
		
		}
	}
	&__mini__title {
		padding: 75px 0 80px;
		@media only screen and(min-width: 768px) {
			padding: 78px 0 110px;
		}
		@media only screen and(min-width: 992px) {
			padding: 88px 0 120px;
		}
		strong {
			font-weight: 600;
		}
		&__inner {
			max-width: 600px;
			font-size: 1.5em;
			@media only screen and(min-width: 768px) {
				font-size: 2em;
			}
			@media only screen and(min-width: 992px) {
				max-width: calc(50% - 18px);
				margin: 0 0 0 auto;
			}
		}
	}

}

.work {
	&__page {
		margin-bottom: -32px;
	}
	&__title {
		max-width: 760px;
		margin: 0 0 40px;
		@media only screen and(min-width: 1200px) {
			margin: 0 0 57px;
		}
	}
	&__filter {
		list-style-type: none;
		display: flex;
		align-items: center;
		padding: 0;
		&__wrap {
			overflow-x: auto;
			width: calc(100% + 20px);
			margin: 0 0 80px;
			@media only screen and(min-width: 1200px) {
				width: 100%;
			}
		}
		li {
			margin: 0 20px 0 0;
			@media only screen and(min-width: 992px) {
				margin: 0 22px 15px 0;
			}
			@media only screen and(min-width: 1200px) {
				margin: 0 24px 31px 0;
			}
			.work__filter__current {
				border: 2px solid $red-color;
				font-weight: 600;
			}
			.btn__view {
				@media only screen and(max-width: 991px) {
					padding: 18px 30px;
				}
				@media only screen and(max-width: 767px) {
					padding: 16px 25px;
					line-height: 1;
				}
			}
		}
	}
	&__type {
		.work__item__title {
			color: $white-color;
		}	
		&__item {
			&:hover,
			&:focus {
				.work__item__title {
					color: $dark-color;
				}	
			}
			.work__item__title {
				color: $dark-color;
			}	
		}
		&__image {
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 260px;
			height: 260px;
			@media only screen and(min-width: 1200px) {
				top: 50%;
				transform: translateY(-50%);
				right: 35px;
				height: 290px;
				left: auto;
				bottom: 0;
				width: 290px;
			}
			img {
				max-width: 100%;
			}
		}
	}
	&__single {
		margin-bottom: 89px;
		&__image {
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-bottom: 5px;
			@media only screen and(min-width: 768px) {
				margin-bottom: 20px;
				width: 100%;
				margin-left: 0;
				img {
					border-radius: 4px;
				}
			}
			@media only screen and(min-width: 992px) {
				margin-bottom: 32px;
			}
		}
		&__item {
			height: 350px;
			margin-bottom: 5px;
			width: calc(100% + 40px);
			margin-left: -20px;
			@media only screen and(min-width: 768px) {
				height: 440px;
				margin-bottom: 20px;
				width: 100%;
				margin-left: 0;
				border-radius: 4px;
			}
			@media only screen and(min-width: 992px) {
				height: 460px;
				margin-bottom: 32px;
			}
			@media only screen and(min-width: 1200px) {
				height: 560px;
			}
			@media only screen and(min-width: 1440px) {
				height: 660px;
			}
			&.work__single__item2h {
				height: 700px;
				@media only screen and(min-width: 768px) {
					height: 900px;
				}
				@media only screen and(min-width: 992px) {
					height: 952px;
				}
				@media only screen and(min-width: 1200px) {
					height: 1152px;
				}
				@media only screen and(min-width: 1440px) {
					height: 1352px;
				}
			}
		}
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			@media only screen and(min-width: 1200px) {
				flex-wrap: nowrap;
				margin-bottom: 115px;
			}
			&__element {
				width: 100%;
				@media only screen and(min-width: 1200px) {
					width: 65%;
				}
			}
		}
		.pages__title  {
			margin-bottom: 40px;
			@media only screen and(min-width: 1200px) {
				margin-bottom: 47px;
			}
			&__inner {
				&__info {
					margin-top: 40px;
					font-size: 1em;
					color: $gray-color;
					line-height: 1.375;
					font-weight: 600;
					@media only screen and(min-width: 1200px) {
						margin-top: 60px;
					}
				}
			}
		}

		.success {
			&__inner {
				padding: 0;
				margin: 0 0 44px;
				@media only screen and(min-width: 1200px) {
					margin: 0;
					padding: 0 15px 0 0;
				}
			}
		}
	}
	&__info {
		margin-bottom: 70px;
		@media only screen and(min-width: 768px) {
			margin-bottom: 90px;
		}
		@media only screen and(min-width: 1200px) {
			margin-bottom: 120px;
		}
		&__title {
			margin: 0 0 80px;
			font-weight: 600;
		}
		&__inner {
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			width: 100%;
			@media only screen and(min-width: 768px) {
				margin-right: 56px;
				width: 248px;
			}
			&:last-child {
				margin-right: 0;
			}
			&__title {
				color: $gray-color;
				font-size: 1.25em;
				line-height: 1.4;
				margin: 0 0 12px;
			}
		}
		&__subitem {
			margin-bottom: 35px;
		}
		&__list {
			list-style-type: none;
			padding: 0;
			margin: 0;
			li {
				line-height: 1.4;
				font-size: 1.25em;
				a {
					color: inherit;
					&:hover,
					&:focus {
						color: $red-color;
						text-decoration: underline;
					}
				}
			}
		}
		&.work__info__agency {
			padding-top: 100px;
			@media only screen and(min-width: 992px) {
				padding-top: 120px;
			}
			.work__info__inner {
				@media only screen and(max-width: 767px) {
					flex-direction: column;
				}
			}
			.work__info__item {
				width: 200px;
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0;
				}
				@media only screen and(min-width: 768px) {
					margin-right: 40px;
					width: 170px;
				}
				@media only screen and(min-width: 1200px) {
					margin-right: 80px;
				}
			}
		}
		&__content {
			font-weight: 500;
		}
		.link__red {
			display: block;
			font-size: 1.25em;
			font-weight: 500;
		}
	}
}

/*next__pro*/
.next__pro {
	height: 400px;
	background: url(../img/back2.svg)no-repeat bottom left/auto 250px,
	url(../img/back1.svg)no-repeat bottom right/auto 250px;
	@media only screen and(min-width: 768px) {
		padding-top: 89px;
		height: 550px;
		background: url(../img/back2.svg)no-repeat top left/auto 100%,
		url(../img/back1.svg)no-repeat top right/auto 100%;
	}
	@media only screen and(min-width: 1200px) {
		height: 700px;
	}
	@media only screen and(min-width: 1440px) {
		height: 950px;
	}
	&__agency.next__pro {
		background: url(../img/b-agency2.svg)no-repeat bottom left/auto 250px,
		url(../img/b-agency1.svg)no-repeat bottom right/auto 250px;
		@media only screen and(min-width: 768px) {
			background: url(../img/b-agency2.svg)no-repeat top left/auto 100%,
			url(../img/b-agency1.svg)no-repeat top right/auto 100%;
		}
	}
}




/*protection*/
.protection {
	p {
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: inherit;
			&:hover,
			&:focus {
				color: $red-color;
				text-decoration: underline;
			}
		}
	}
}
/*services__images*/
.services {
	&__images {
		margin-bottom: 80px;
		img {
			width: 100%;
		}
		@media only screen and(min-width: 992px) {
			margin-bottom: 20px;
		}
		@media only screen and(min-width: 992px) {
			margin-bottom: 10px;
		}
		@media only screen and(min-width: 1200px) {
			margin-bottom: -40px;
		}
	}
	&__page {
		.services__inner {
			@media only screen and(min-width: 992px) {
				overflow: initial;
			}
		}
		.services__inner__wrap {
			flex-wrap: wrap;
		}
	}
	&__item {
		&__wrap {
			display: flex;
			align-items: center;
			&:nth-child(2n) {
				@media only screen and(min-width: 992px) {
					margin-left: 50px;
				}
				@media only screen and(min-width: 1200px) {
					margin-left: 170px;
				}
				@media only screen and(min-width: 1440px) {
					margin-left: 282px;
				}
			}
			&:nth-child(3) {
				@media only screen and(min-width: 992px) {
					margin-left: 116px;
				}
				@media only screen and(min-width: 1200px) {
					margin-left: 356px;
				}
				@media only screen and(min-width: 1440px) {
					margin-left: 567px;
				}
			}
		}
		&__in {
			display: none;
			@media only screen and(min-width: 992px) {
				margin-left: 40px;
				max-width: 590px;
				font-size: 2em;
				color: $red-color;
				display: block;
			}
		}
	}
	.services__inner__2 {
		.services__item__in {
			color: $purple-color;
		}
		.services__item__wrap {
			&:first-child ,
			&:nth-child(3) {
				@media only screen and(min-width: 992px) {
					margin-left: 50px;
				}
				@media only screen and(min-width: 1200px) {
					margin-left: 170px;
				}
				@media only screen and(min-width: 1440px) {
					margin-left: 282px;
				}
			}
			&:nth-child(2),
			&:last-child {
				@media only screen and(min-width: 992px) {
					margin-left: 116px;
				}
				@media only screen and(min-width: 1200px) {
					margin-left: 356px;
				}
				@media only screen and(min-width: 1440px) {
					margin-left: 567px;
				}
			}
			&:nth-child(4) {
				margin-left: 0;
			}
		}
	}
}

/*block__video*/

.pages__video {
	.pages__title__wrap {
		flex-wrap: wrap;
		margin-bottom: 0;
	}	
}


.block__video {
	margin: 0 -20px 5px;
	width: 100%;
	height: 0;
	width: calc(100% + 40px);
	padding-bottom: 56.25%;
	position: relative;
	@media only screen and(min-width: 768px) {
		margin: 0 0 20px;
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
	}
	@media only screen and(min-width: 992px) {
		margin: 0 0 32px;
	}
	@media only screen and(min-width: 1200px) {
		margin: 115px 0 32px;
	}
	@media only screen and(min-width: 1440px) {
		padding-bottom: 54%;
	}
	@media only screen and(min-width: 1680px) {
		padding-bottom: 47%;
	}
	@media only screen and(min-width: 1920px) {
		padding-bottom: 42%;
	}
	iframe {
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;
		height: 100%;
	}
}


/*career*/
.career {
	&__images {
		.work__single__image  {
			margin-bottom: 0;
		}
	}
	&__content {
		max-width: 635px;
		padding: 80px 0;
		@media only screen and(min-width: 992px) {
			padding: 100px 0;
		}
		@media only screen and(min-width: 1200px) {
			padding: 120px 0;
		}
		&.no-padding {
			padding-bottom: 0;
		}
		p {
			&:last-child {
				margin: 0;
			}
		}
	}
	&__subtitle {
		margin-bottom: 40px;
		font-weight: 600;
	}
}
/*agency*/
body.agency {
	background: #AFAFAF;
}



/*contact*/

.contact {
	&__page {
		.block__video {
			margin-top: 0;
		}
	}
	&__wrap {
		display: flex;
		flex-direction: column-reverse;
		@media only screen and(min-width: 1200px) {
			flex-direction: column;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
		padding: 40px 0 30px;
		flex-wrap: wrap;
		@media only screen and(min-width: 1200px) {
			padding: 76px 0 55px;
			flex-wrap: nowrap;
		}
		@media only screen and(max-width: 991px) {
			flex-direction: column;
		}
	}
	&__item {
		max-width: 500px;
		margin: 0 0 32px;
		@media only screen and(min-width: 992px) {
			margin: 0 30px 32px 0;
			max-width: 316px;
		}
		@media only screen and(min-width: 1200px) {
			margin: 0;
		}
		&__title {
			margin: 0 0 12px;
			font-size: 1.25em;
			color: $gray-color;
		}
		p {
			margin: 0;
			a {
				color: inherit;
				&:hover,
				&:focus {
					color: $red-color;
					text-decoration: underline;
				}
			}
		}
	}
}
